/* line 1, ../scss/base/_reboot.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 7, ../scss/base/_reboot.scss */
html {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

/* line 19, ../scss/base/_reboot.scss */
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/* line 33, ../scss/base/_reboot.scss */
body {
  margin: 0;
  text-align: left;
  background: #fff;
  font-size: 1.125rem;
}

/* line 40, ../scss/base/_reboot.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1.25rem;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Zeyada";
  letter-spacing: -0.48px;
  color: #a73eac;
}

/* line 55, ../scss/base/_reboot.scss */
h1 {
  font-size: 2.5rem;
}

/* line 59, ../scss/base/_reboot.scss */
h2 {
  font-size: 2rem;
}

/* line 63, ../scss/base/_reboot.scss */
h3 {
  font-size: 1.75rem;
}

/* line 67, ../scss/base/_reboot.scss */
h4 {
  font-size: 1.5rem;
}

/* line 71, ../scss/base/_reboot.scss */
h5 {
  font-size: 1.33rem;
}

/* line 75, ../scss/base/_reboot.scss */
p {
  margin: 0;
}

/* line 79, ../scss/base/_reboot.scss */
p + p {
  margin: 1.25rem 0 0 0;
}

/* line 83, ../scss/base/_reboot.scss */
ol,
ul {
  margin: 0 0 1.25rem 0;
}

/* line 88, ../scss/base/_reboot.scss */
ol ol,
ul ul {
  margin-bottom: 0;
}

/* line 93, ../scss/base/_reboot.scss */
P + ul {
  margin-top: 1.25rem;
  font-style: italic;
}

/* line 98, ../scss/base/_reboot.scss */
p + ol {
  margin-top: 1.25rem;
  font-style: italic;
}

/* line 103, ../scss/base/_reboot.scss */
strong {
  font-weight: 600;
}

/* line 107, ../scss/base/_reboot.scss */
a {
  text-decoration: none;
  color: #a73eac;
  border-bottom: 1px solid transparent;
  transition: all 0.3333s ease-in-out;
}
/* line 113, ../scss/base/_reboot.scss */
a:hover {
  text-decoration: none;
  border-bottom-color: currentColor;
}

/* line 119, ../scss/base/_reboot.scss */
img {
  display: block;
  margin: 0;
  border: 0;
  max-width: 100%;
  height: auto;
}

/* line 127, ../scss/base/_reboot.scss */
.dialog-off-canvas-main-canvas {
  position: relative;
}

/* line 1, ../scss/layout/_page.scss */
.page-content {
  padding-top: 4rem;
}
@media (min-width: 768px) {
  /* line 1, ../scss/layout/_page.scss */
  .page-content {
    padding-top: 7rem;
  }
}

/* line 9, ../scss/layout/_page.scss */
.page-header {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(167, 62, 172, 0.95);
  color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 4rem;
}
@media (min-width: 768px) {
  /* line 9, ../scss/layout/_page.scss */
  .page-header {
    height: unset;
  }
}

/* line 25, ../scss/layout/_page.scss */
body.adminimal-admin-toolbar .page-header {
  top: 40px;
}

/* line 29, ../scss/layout/_page.scss */
body.toolbar-tray-open .page-header {
  top: 81px;
}

/* line 1, ../scss/regions/_region--header.scss */
.region-header {
  height: 100%;
}

/* line 6, ../scss/regions/_region--header.scss */
.toggle-button a {
  height: 4rem;
  width: 4rem;
  color: white;
  position: absolute;
  top: 0;
  z-index: 9;
  border: none;
  display: block;
  text-align: center;
  font-size: 1.25rem;
  line-height: 3;
  cursor: pointer;
}
/* line 20, ../scss/regions/_region--header.scss */
.toggle-button a:hover {
  background: rgba(58, 21, 60, 0.8);
}
@media (min-width: 768px) {
  /* line 5, ../scss/regions/_region--header.scss */
  .toggle-button {
    display: none;
  }
}
/* line 29, ../scss/regions/_region--header.scss */
.toggle-button.menu-toggler a {
  left: 0;
}
/* line 33, ../scss/regions/_region--header.scss */
.toggle-button.search-toggler a {
  right: 0;
}

/* line 1, ../scss/regions/_region--content.scss */
.page-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}
@media (min-width: 768px) {
  /* line 1, ../scss/regions/_region--content.scss */
  .page-container {
    padding: 1rem 2rem;
  }
}

/* line 12, ../scss/regions/_region--content.scss */
.path-user .page-container {
  max-width: 1024px;
}

/* line 2, ../scss/regions/_region--footer.scss */
.page-footer .disclaimer {
  font-size: 0.9rem;
  text-align: center;
  color: white;
  background: #3a153c;
  padding: 1rem;
}
/* line 9, ../scss/regions/_region--footer.scss */
.page-footer .disclaimer a {
  color: white;
}

/* line 1, ../scss/navigation/_tabs.scss */
ul.tabs {
  margin: 0 0 1.25rem;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 540px) {
  /* line 1, ../scss/navigation/_tabs.scss */
  ul.tabs {
    flex-direction: row;
  }
}
/* line 12, ../scss/navigation/_tabs.scss */
ul.tabs li {
  margin: 0 0 0.5rem 0;
}
@media (min-width: 540px) {
  /* line 12, ../scss/navigation/_tabs.scss */
  ul.tabs li {
    margin-right: 0.5rem;
  }
}
/* line 19, ../scss/navigation/_tabs.scss */
ul.tabs li a {
  background: white;
  padding: 0.5rem;
  display: block;
  border: 1px solid darkgray;
  border-radius: 4px;
  font-size: 1rem;
  white-space: nowrap;
  color: #a73eac;
}
/* line 29, ../scss/navigation/_tabs.scss */
ul.tabs li a:hover {
  background: #e0e0e0;
}
/* line 34, ../scss/navigation/_tabs.scss */
ul.tabs li.is-active a {
  color: #a73eac;
  background: #e0e0e0;
}

/* line 1, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main {
  margin: 0 auto;
  max-width: 1280px;
  display: none;
}
@media (min-width: 768px) {
  /* line 1, ../scss/navigation/_menu--main.scss */
  .block-menu.menu--main {
    display: block;
  }
}
/* line 10, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main > ul.menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 17, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main > ul.menu li:first-child {
  margin-right: auto;
}
/* line 21, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main > ul.menu li a {
  padding: 1rem;
  color: white;
  border-bottom: 4px solid transparent;
  display: block;
  font-family: "Zeyada";
  font-size: 1.25rem;
}
/* line 29, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main > ul.menu li a:hover, .block-menu.menu--main > ul.menu li a:focus {
  border-bottom: 4px solid white;
}

/* line 1, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-wrapper {
  height: 100vh;
  width: 75vw;
  padding: 1rem;
  flex-direction: column;
  background: rgba(167, 62, 172, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
  z-index: 11;
}
/* line 14, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-wrapper ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 19, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-wrapper ul li {
  margin-bottom: 0.5rem;
}
/* line 22, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-wrapper ul li a {
  color: white;
  font-family: "Zeyada";
  font-size: 1.25rem;
}

/* line 31, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-blinder {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

/* line 43, ../scss/navigation/_menu--mobile.scss */
body.mobile-menu-open {
  overflow-y: hidden;
}
/* line 46, ../scss/navigation/_menu--mobile.scss */
body.mobile-menu-open .mobile-menu-wrapper {
  transform: translateX(0%);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
}
/* line 51, ../scss/navigation/_menu--mobile.scss */
body.mobile-menu-open .mobile-menu-blinder {
  opacity: 1;
  pointer-events: all;
}

/* line 58, ../scss/navigation/_menu--mobile.scss */
body.adminimal-admin-toolbar .mobile-menu-wrapper {
  top: 40px;
}

/* line 2, ../scss/blocks/_block--system-branding.scss */
.block-system-branding-block .site-name {
  text-align: center;
  padding-top: 1rem;
}
/* line 6, ../scss/blocks/_block--system-branding.scss */
.block-system-branding-block .site-name a {
  color: white;
  font-size: 1.666rem;
  line-height: 1;
  font-family: "Zeyada";
}

/* line 1, ../scss/forms/_form-components.scss */
input,
button,
input[type="submit"],
textarea {
  transition: all 0.3333s ease-in-out;
  border-radius: 2px;
}

/* line 9, ../scss/forms/_form-components.scss */
textarea,
input[type="search"],
input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  border: 1px solid #cacbcb;
  padding: 0.75rem;
  font-size: 1.125rem;
  font-family: "Roboto Condensed", sans-serif;
  box-shadow: inset 0 0 15px rgba(96, 96, 96, 0.15);
  margin-bottom: 1.25rem;
}
/* line 18, ../scss/forms/_form-components.scss */
textarea:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus, textarea:hover,
input[type="search"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="text"]:hover {
  outline: none;
  border: 1px solid #a73eac;
  box-shadow: none;
  box-shadow: 0 0 5px rgba(167, 62, 172, 0.4);
}

/* line 36, ../scss/forms/_form-components.scss */
input[type="submit"],
button,
.button {
  background: #a73eac;
  color: white;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
  border: none;
  font-weight: 600;
  font-family: "Zeyada";
  margin-bottom: 1.25rem;
}
/* line 49, ../scss/forms/_form-components.scss */
input[type="submit"]:hover,
button:hover,
.button:hover, input[type="submit"]:focus,
button:focus,
.button:focus {
  background-color: #5e2361;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  border: none;
}

/* line 63, ../scss/forms/_form-components.scss */
select {
  -webkit-appearance: none;
  appearance: none;
  margin-bottom: 1rem;
  border-radius: 2px;
  border: 1px solid #cacbcb;
  box-shadow: inset 0 0 15px rgba(96, 96, 96, 0.15);
  padding: calc(1rem - 1px) 2.5rem;
  padding-left: 1.5rem;
  font-size: 1.125rem;
  font-family: "Roboto Condensed", sans-serif;
  background-color: white;
  background-image: url(../img/arrow-down.svg);
  background-position: right 1rem center;
  background-repeat: no-repeat;
  background-size: .75rem;
  color: #a73eac;
}
/* line 81, ../scss/forms/_form-components.scss */
select:focus {
  outline: none;
  border: 1px solid #a73eac;
  box-shadow: 0 0 5px rgba(167, 62, 172, 0.4);
}

/* line 1, ../scss/forms/_form-elements.scss */
.form-item {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 1.25rem 0;
}
/* line 7, ../scss/forms/_form-elements.scss */
.form-item label {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  margin-bottom: 0.25rem;
  font-size: 1rem;
}
/* line 14, ../scss/forms/_form-elements.scss */
.form-item .description {
  font-size: 1rem;
  font-weight: 300;
}
/* line 19, ../scss/forms/_form-elements.scss */
.form-item.form-type-checkbox {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}
/* line 24, ../scss/forms/_form-elements.scss */
.form-item.form-type-checkbox input {
  margin-right: 0.5rem;
}
/* line 28, ../scss/forms/_form-elements.scss */
.form-item.form-type-checkbox .description {
  width: 100%;
  margin-left: 0;
}

/* line 35, ../scss/forms/_form-elements.scss */
.form-actions {
  margin: 0 0 1.25rem;
  text-align: center;
}

/* line 2, ../scss/forms/_form-user-password.scss */
form.user-pass .form-item {
  margin-bottom: 0;
}
/* line 6, ../scss/forms/_form-user-password.scss */
form.user-pass p {
  font-size: 1rem;
  margin-bottom: 1.25rem;
}

/* line 3, ../scss/forms/_form-user-register.scss */
.user-register-form fieldset {
  border: none;
  margin-bottom: 0;
}
/* line 7, ../scss/forms/_form-user-register.scss */
.user-register-form fieldset legend {
  font-family: "Zeyada";
  font-size: 2rem;
  color: #a73eac;
  margin-bottom: 1.25rem;
}
@media (min-width: 768px) {
  /* line 14, ../scss/forms/_form-user-register.scss */
  .user-register-form fieldset .fieldset-wrapper {
    display: flex;
    margin: 0 -0.5rem;
  }
  /* line 19, ../scss/forms/_form-user-register.scss */
  .user-register-form fieldset .fieldset-wrapper > div {
    padding: 0 0.5rem;
    width: 50%;
  }
}
@media (min-width: 768px) {
  /* line 27, ../scss/forms/_form-user-register.scss */
  .user-register-form .form-type-password-confirm {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -0.5rem 1.25rem;
  }
  /* line 33, ../scss/forms/_form-user-register.scss */
  .user-register-form .form-type-password-confirm .form-item {
    padding: 0 0.5rem;
    width: 50%;
  }
  /* line 38, ../scss/forms/_form-user-register.scss */
  .user-register-form .form-type-password-confirm .password-suggestions {
    padding: 0 1rem;
    width: 50%;
    border: none;
    max-width: none;
    margin: 0;
  }
  /* line 46, ../scss/forms/_form-user-register.scss */
  .user-register-form .form-type-password-confirm .description {
    width: 50%;
    padding: 0 0.5rem;
  }
}
/* line 53, ../scss/forms/_form-user-register.scss */
.user-register-form .form-type-password-confirm .form-item input {
  width: 100%;
  margin-bottom: 0;
}
/* line 59, ../scss/forms/_form-user-register.scss */
.user-register-form .form-type-password-confirm .password-strength,
.user-register-form .form-type-password-confirm div.password-confirm {
  width: 100%;
  font-size: 1rem;
}
/* line 65, ../scss/forms/_form-user-register.scss */
.user-register-form .form-type-password-confirm div.password-confirm {
  margin: 0;
  padding-top: 1rem;
}
/* line 70, ../scss/forms/_form-user-register.scss */
.user-register-form .form-type-password-confirm .password-strength__meter {
  margin: 0 0 0.5rem;
  height: 0.5rem;
  border-radius: 0 0 2px 2px;
}
/* line 77, ../scss/forms/_form-user-register.scss */
.user-register-form .edit-timezone {
  display: none;
}
