.block-menu.menu--main {
    margin: 0 auto;
    max-width: $breakpoint-max;
    display: none;

    @include breakpoint($breakpoint-medium) {
        display: block;
    }

    >ul.menu {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            &:first-child {
                margin-right: auto;
            }

            a {
                padding: $spacing;
                color: $menu-link-color;
                border-bottom: 4px solid transparent;
                display: block;
                font-family: $font-family-header;
                font-size: 1.25rem;

                &:hover,
                &:focus {
                    border-bottom: 4px solid $menu-link-color;
                }
            }
        }
    }
}