.mobile-menu-wrapper {
    height: 100vh;
    width: 75vw;
    padding: $spacing;
    flex-direction: column;
    background: rgba($accent-color, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
    z-index: 11;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            margin-bottom: $spacing-half;

            a {
                color: $menu-link-color;
                font-family: $font-family-header;
                font-size: 1.25rem;
            }
        }
    }
}

.mobile-menu-blinder {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba($black, 0.8);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

body.mobile-menu-open {
    overflow-y: hidden;

    .mobile-menu-wrapper {
        transform: translateX(0%);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
    }

    .mobile-menu-blinder {
        opacity: 1;
        pointer-events: all;
    }
}

body.adminimal-admin-toolbar {
    .mobile-menu-wrapper {
        top: 40px;
    }
}