/* line 1, ../scss/base/_reboot.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 7, ../scss/base/_reboot.scss */
html {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
  text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

/* line 19, ../scss/base/_reboot.scss */
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/* line 33, ../scss/base/_reboot.scss */
body {
  margin: 0;
  text-align: left;
  background: #fff;
  font-size: 1.125rem;
}

/* line 40, ../scss/base/_reboot.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1.25rem;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Zeyada";
  letter-spacing: -0.48px;
  color: #702a74;
}

/* line 55, ../scss/base/_reboot.scss */
h1 {
  font-size: 4rem;
}

/* line 59, ../scss/base/_reboot.scss */
h2 {
  font-size: 3rem;
}

/* line 63, ../scss/base/_reboot.scss */
h3 {
  font-size: 2.5rem;
}

/* line 67, ../scss/base/_reboot.scss */
h4 {
  font-size: 2rem;
}

/* line 71, ../scss/base/_reboot.scss */
h5 {
  font-size: 1.33rem;
}

/* line 75, ../scss/base/_reboot.scss */
p {
  margin: 0;
}

/* line 79, ../scss/base/_reboot.scss */
p + p {
  margin: 1.25rem 0 0 0;
}

/* line 83, ../scss/base/_reboot.scss */
ol,
ul {
  margin: 0 0 1.25rem 0;
}

/* line 88, ../scss/base/_reboot.scss */
ol ol,
ul ul {
  margin-bottom: 0;
}

/* line 93, ../scss/base/_reboot.scss */
P + ul {
  margin-top: 1.25rem;
  font-style: italic;
}

/* line 98, ../scss/base/_reboot.scss */
p + ol {
  margin-top: 1.25rem;
  font-style: italic;
}

/* line 103, ../scss/base/_reboot.scss */
strong {
  font-weight: 600;
}

/* line 107, ../scss/base/_reboot.scss */
a {
  text-decoration: none;
  color: #702a74;
  border-bottom: 1px solid transparent;
  transition: all 0.3333s ease-in-out;
}
/* line 113, ../scss/base/_reboot.scss */
a:hover {
  text-decoration: none;
  border-bottom-color: currentColor;
}

/* line 119, ../scss/base/_reboot.scss */
img {
  display: block;
  margin: 0;
  border: 0;
  max-width: 100%;
  height: auto;
}

/* line 127, ../scss/base/_reboot.scss */
.dialog-off-canvas-main-canvas {
  position: relative;
}

/* line 3, ../scss/layout/_page.scss */
.page-header {
  position: relative;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
}
@media (min-width: 768px) {
  /* line 3, ../scss/layout/_page.scss */
  .page-header {
    height: unset;
  }
}

/* line 1, ../scss/regions/_region--header.scss */
.region-header {
  height: 100%;
}

/* line 6, ../scss/regions/_region--header.scss */
body.above-empty .region-header {
  height: 160px;
  background: #e5bee7;
}
@media (min-width: 768px) {
  /* line 6, ../scss/regions/_region--header.scss */
  body.above-empty .region-header {
    height: 320px;
  }
}

/* line 16, ../scss/regions/_region--header.scss */
.toggle-button a {
  height: 4rem;
  width: 4rem;
  color: white;
  position: absolute;
  top: 0;
  z-index: 9;
  border: none;
  display: block;
  text-align: center;
  font-size: 1.25rem;
  line-height: 3;
  cursor: pointer;
}
/* line 30, ../scss/regions/_region--header.scss */
.toggle-button a:hover {
  background: rgba(58, 21, 60, 0.8);
}
@media (min-width: 768px) {
  /* line 15, ../scss/regions/_region--header.scss */
  .toggle-button {
    display: none;
  }
}
/* line 39, ../scss/regions/_region--header.scss */
.toggle-button.menu-toggler a {
  left: 0;
}
/* line 43, ../scss/regions/_region--header.scss */
.toggle-button.search-toggler a {
  display: none;
}

/* line 1, ../scss/regions/_region--above.scss */
.region-above {
  position: relative;
}
@media (min-width: 1024px) {
  /* line 1, ../scss/regions/_region--above.scss */
  .region-above {
    max-height: 66vh;
    overflow: hidden;
  }
}

/* line 1, ../scss/regions/_region--content.scss */
.page-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* line 7, ../scss/regions/_region--content.scss */
body.above-empty .page-container {
  padding-top: 2rem;
}

/* line 12, ../scss/regions/_region--content.scss */
.path-user .page-container {
  max-width: 1024px;
}

/* line 2, ../scss/regions/_region--footer.scss */
.page-footer .disclaimer {
  font-size: 0.9rem;
  text-align: center;
  color: white;
  background: #3a153c;
  padding: 1rem;
}
/* line 9, ../scss/regions/_region--footer.scss */
.page-footer .disclaimer a {
  color: white;
}

/* line 2, ../scss/nodes/_node--page--full.scss */
.node--type-page.node--view-mode-full .field--name-body {
  padding-bottom: 2rem;
}

/* line 1, ../scss/nodes/_node--experience--full.scss */
.node--type-experience.node--view-mode-full {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  /* line 1, ../scss/nodes/_node--experience--full.scss */
  .node--type-experience.node--view-mode-full {
    flex-direction: row;
  }
}
/* line 9, ../scss/nodes/_node--experience--full.scss */
.node--type-experience.node--view-mode-full .field--type-image {
  margin-bottom: 1.5rem;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  /* line 9, ../scss/nodes/_node--experience--full.scss */
  .node--type-experience.node--view-mode-full .field--type-image {
    width: 33.333%;
  }
}
@media (min-width: 768px) {
  /* line 18, ../scss/nodes/_node--experience--full.scss */
  .node--type-experience.node--view-mode-full .experience-content {
    width: 66.666%;
    padding-left: 2rem;
  }
}
/* line 24, ../scss/nodes/_node--experience--full.scss */
.node--type-experience.node--view-mode-full .experience-content .field--name-field-person {
  text-align: right;
  margin-top: 1rem;
  font-size: 1rem;
  font-style: italic;
}

/* line 1, ../scss/nodes/_node--cursus--full.scss */
.node--type-cursus.node--view-mode-full {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  /* line 1, ../scss/nodes/_node--cursus--full.scss */
  .node--type-cursus.node--view-mode-full {
    display: flex;
    flex-wrap: nowrap;
  }
}
/* line 9, ../scss/nodes/_node--cursus--full.scss */
.node--type-cursus.node--view-mode-full .field--name-field-image {
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  /* line 9, ../scss/nodes/_node--cursus--full.scss */
  .node--type-cursus.node--view-mode-full .field--name-field-image {
    max-width: 25%;
  }
}
/* line 17, ../scss/nodes/_node--cursus--full.scss */
.node--type-cursus.node--view-mode-full .field--name-field-time {
  padding-top: 1rem;
}
@media (min-width: 768px) {
  /* line 21, ../scss/nodes/_node--cursus--full.scss */
  .node--type-cursus.node--view-mode-full .course-content {
    max-width: 75%;
    padding-left: 2rem;
  }
}

/* line 1, ../scss/image-styles/_image-style--polaroid.scss */
.polaroid-image {
  margin: 0 auto;
  background: white;
  border: 1rem solid white;
  border-bottom: 0.5rem solid white;
  transform: rotate(-1.5deg);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
/* line 9, ../scss/image-styles/_image-style--polaroid.scss */
.polaroid-image .title {
  padding-top: 0.5rem;
  color: #1f305e;
  font-family: "Zeyada";
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  transform: rotate(-1deg);
}

/* line 1, ../scss/paragraphs/_paragraph--text-image.scss */
.paragraph--type--tekst-afbeelding {
  padding: 2rem 0;
}
/* line 4, ../scss/paragraphs/_paragraph--text-image.scss */
.paragraph--type--tekst-afbeelding.paragraph-embossed {
  background: #eee;
  box-shadow: 0 0 20px inset rgba(0, 0, 0, 0.35);
  transform: translateX(-50vw);
  width: 100vw;
  margin-left: 50%;
  padding: 2rem;
}
/* line 13, ../scss/paragraphs/_paragraph--text-image.scss */
.paragraph--type--tekst-afbeelding.paragraph-image-align-none {
  text-align: center;
}
/* line 17, ../scss/paragraphs/_paragraph--text-image.scss */
.paragraph--type--tekst-afbeelding.paragraph-image-align-none .paragraph-inner .paragraph-content {
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
  padding: 0;
}
/* line 26, ../scss/paragraphs/_paragraph--text-image.scss */
.paragraph--type--tekst-afbeelding .paragraph-inner {
  max-width: calc(1280px - 4rem);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
/* line 33, ../scss/paragraphs/_paragraph--text-image.scss */
.paragraph--type--tekst-afbeelding .paragraph-inner h2 {
  text-align: center;
  width: 100%;
}
/* line 38, ../scss/paragraphs/_paragraph--text-image.scss */
.paragraph--type--tekst-afbeelding .paragraph-inner .field--name-field-image {
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
}
@media (min-width: 768px) {
  /* line 38, ../scss/paragraphs/_paragraph--text-image.scss */
  .paragraph--type--tekst-afbeelding .paragraph-inner .field--name-field-image {
    width: 33.333%;
    flex: 1 1 auto;
  }
}
@media (min-width: 768px) {
  /* line 49, ../scss/paragraphs/_paragraph--text-image.scss */
  .paragraph--type--tekst-afbeelding .paragraph-inner .paragraph-content {
    width: 66.666%;
    padding-left: 2rem;
  }
}
/* line 57, ../scss/paragraphs/_paragraph--text-image.scss */
.paragraph--type--tekst-afbeelding .field--name-field-link {
  text-align: center;
}
/* line 60, ../scss/paragraphs/_paragraph--text-image.scss */
.paragraph--type--tekst-afbeelding .field--name-field-link a {
  display: inline-block;
  margin-top: 1.5rem;
}
@media (min-width: 768px) {
  /* line 70, ../scss/paragraphs/_paragraph--text-image.scss */
  .paragraph--type--tekst-afbeelding.paragraph-image-align-right .paragraph-inner h2 {
    order: 1;
  }
  /* line 74, ../scss/paragraphs/_paragraph--text-image.scss */
  .paragraph--type--tekst-afbeelding.paragraph-image-align-right .paragraph-inner .paragraph-content {
    order: 2;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  /* line 74, ../scss/paragraphs/_paragraph--text-image.scss */
  .paragraph--type--tekst-afbeelding.paragraph-image-align-right .paragraph-inner .paragraph-content {
    padding: 0 2rem 0 0;
  }
}
@media (min-width: 768px) {
  /* line 82, ../scss/paragraphs/_paragraph--text-image.scss */
  .paragraph--type--tekst-afbeelding.paragraph-image-align-right .paragraph-inner .field--name-field-image {
    order: 3;
    margin-top: 1.5rem;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  /* line 82, ../scss/paragraphs/_paragraph--text-image.scss */
  .paragraph--type--tekst-afbeelding.paragraph-image-align-right .paragraph-inner .field--name-field-image {
    margin: 0 0 1.5rem 0;
  }
}
@media (min-width: 768px) {
  /* line 90, ../scss/paragraphs/_paragraph--text-image.scss */
  .paragraph--type--tekst-afbeelding.paragraph-image-align-right .paragraph-inner .field--name-field-image .polaroid-image {
    transform: rotate(1.5deg);
  }
}

/* line 1, ../scss/paragraphs/_paragraph--experiences.scss */
.paragraph--type-experiences {
  background: #e5bee7;
  padding: 2rem;
  transform: translateX(-50vw);
  width: 100vw;
  margin-left: 50%;
}
@media (min-width: 768px) {
  /* line 1, ../scss/paragraphs/_paragraph--experiences.scss */
  .paragraph--type-experiences {
    padding: 2rem;
  }
}
/* line 12, ../scss/paragraphs/_paragraph--experiences.scss */
.paragraph--type-experiences h2 {
  text-align: center;
}
/* line 16, ../scss/paragraphs/_paragraph--experiences.scss */
.paragraph--type-experiences .view {
  max-width: 1280px;
  margin: 0 auto;
}
/* line 21, ../scss/paragraphs/_paragraph--experiences.scss */
.paragraph--type-experiences .slick-dots {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin: 2rem -0.25rem;
}
/* line 29, ../scss/paragraphs/_paragraph--experiences.scss */
.paragraph--type-experiences .slick-dots li button {
  border: 4px solid #a73eac;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  margin: 0 0.25rem;
  text-indent: -9999px;
  background: none;
  padding: 0;
}
/* line 39, ../scss/paragraphs/_paragraph--experiences.scss */
.paragraph--type-experiences .slick-dots li button:hover {
  background: rgba(167, 62, 172, 0.5);
}
/* line 44, ../scss/paragraphs/_paragraph--experiences.scss */
.paragraph--type-experiences .slick-dots li.slick-active button {
  background: rgba(167, 62, 172, 0.8);
}

/* line 1, ../scss/navigation/_tabs.scss */
ul.tabs {
  margin: 0 0 1.25rem;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 540px) {
  /* line 1, ../scss/navigation/_tabs.scss */
  ul.tabs {
    flex-direction: row;
  }
}
/* line 12, ../scss/navigation/_tabs.scss */
ul.tabs li {
  margin: 0 0 0.5rem 0;
}
@media (min-width: 540px) {
  /* line 12, ../scss/navigation/_tabs.scss */
  ul.tabs li {
    margin-right: 0.5rem;
  }
}
/* line 19, ../scss/navigation/_tabs.scss */
ul.tabs li a {
  background: white;
  padding: 0.5rem;
  display: block;
  border: 1px solid darkgray;
  border-radius: 4px;
  font-size: 1rem;
  white-space: nowrap;
  color: #702a74;
}
/* line 29, ../scss/navigation/_tabs.scss */
ul.tabs li a:hover {
  background: #e0e0e0;
}
/* line 34, ../scss/navigation/_tabs.scss */
ul.tabs li.is-active a {
  color: #702a74;
  background: #e0e0e0;
}

/* line 1, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main {
  margin: 0 auto;
  max-width: 1280px;
  display: none;
}
@media (min-width: 768px) {
  /* line 1, ../scss/navigation/_menu--main.scss */
  .block-menu.menu--main {
    display: block;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    top: 190px;
  }
}
/* line 16, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main > ul.menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 23, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main > ul.menu li:first-child {
  margin-right: auto;
}
/* line 27, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main > ul.menu li a {
  padding: 1rem;
  color: white;
  border-bottom: 4px solid transparent;
  display: block;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.25rem;
}
/* line 35, ../scss/navigation/_menu--main.scss */
.block-menu.menu--main > ul.menu li a:hover, .block-menu.menu--main > ul.menu li a:focus {
  border-bottom: 4px solid white;
}

/* line 1, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-wrapper {
  height: 100vh;
  width: 75vw;
  padding: 1rem;
  flex-direction: column;
  background: rgba(167, 62, 172, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
  z-index: 11;
}
/* line 14, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-wrapper ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 19, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-wrapper ul li {
  margin-bottom: 0.5rem;
}
/* line 22, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-wrapper ul li a {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
}

/* line 31, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-blinder {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

/* line 43, ../scss/navigation/_menu--mobile.scss */
body.mobile-menu-open {
  overflow-y: hidden;
}
/* line 46, ../scss/navigation/_menu--mobile.scss */
body.mobile-menu-open .mobile-menu-wrapper {
  transform: translateX(0%);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
}
/* line 51, ../scss/navigation/_menu--mobile.scss */
body.mobile-menu-open .mobile-menu-blinder {
  opacity: 1;
  pointer-events: all;
}

/* line 58, ../scss/navigation/_menu--mobile.scss */
body.adminimal-admin-toolbar .mobile-menu-wrapper {
  top: 40px;
}

/* line 1, ../scss/blocks/_block--page-title.scss */
.block-page-title-block {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 1024px;
  left: 50%;
  transform: translateX(-50%);
}
/* line 9, ../scss/blocks/_block--page-title.scss */
.block-page-title-block h1 {
  color: white;
  text-align: center;
  text-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
  margin-bottom: 0;
  font-size: 2.5rem;
  padding: 0 1rem 1rem;
}
@media (min-width: 768px) {
  /* line 9, ../scss/blocks/_block--page-title.scss */
  .block-page-title-block h1 {
    font-size: 3rem;
    padding: 0 2rem;
  }
}
@media (min-width: 1024px) {
  /* line 9, ../scss/blocks/_block--page-title.scss */
  .block-page-title-block h1 {
    padding-bottom: 3rem;
    font-size: 4rem;
  }
}

/* line 1, ../scss/blocks/_block--system-branding.scss */
.block-system-branding-block {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  padding-top: 1rem;
}
/* line 8, ../scss/blocks/_block--system-branding.scss */
.block-system-branding-block .site-name {
  text-align: center;
  padding-top: 1rem;
  display: none;
}
@media (min-width: 768px) {
  /* line 8, ../scss/blocks/_block--system-branding.scss */
  .block-system-branding-block .site-name {
    display: block;
  }
}
/* line 17, ../scss/blocks/_block--system-branding.scss */
.block-system-branding-block .site-name a {
  color: white;
  font-size: 3rem;
  line-height: 1;
  font-family: "Zeyada";
}
/* line 25, ../scss/blocks/_block--system-branding.scss */
.block-system-branding-block .site-logo img {
  margin: 0 auto;
  max-width: 40px;
}
@media (min-width: 768px) {
  /* line 25, ../scss/blocks/_block--system-branding.scss */
  .block-system-branding-block .site-logo img {
    display: block;
    max-width: unset;
  }
}

/* line 1, ../scss/forms/_form-components.scss */
input,
button,
input[type="submit"],
textarea {
  transition: all 0.3333s ease-in-out;
  border-radius: 2px;
}

/* line 9, ../scss/forms/_form-components.scss */
textarea,
input[type="search"],
input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  border: 1px solid #cacbcb;
  padding: 0.75rem;
  font-size: 1.125rem;
  font-family: "Roboto Condensed", sans-serif;
  box-shadow: inset 0 0 15px rgba(96, 96, 96, 0.15);
  margin-bottom: 1.25rem;
}
/* line 18, ../scss/forms/_form-components.scss */
textarea:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus, textarea:hover,
input[type="search"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="text"]:hover {
  outline: none;
  border: 1px solid #a73eac;
  box-shadow: none;
  box-shadow: 0 0 5px rgba(167, 62, 172, 0.4);
}

/* line 36, ../scss/forms/_form-components.scss */
.paragraph--type--tekst-afbeelding .field--name-field-link a, input[type="submit"],
button,
.button {
  background: #a73eac;
  color: white;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
  border: none;
  font-weight: 600;
  font-family: "Zeyada";
  margin-bottom: 1.25rem;
}
/* line 49, ../scss/forms/_form-components.scss */
.paragraph--type--tekst-afbeelding .field--name-field-link a:hover, input[type="submit"]:hover,
button:hover,
.button:hover, .paragraph--type--tekst-afbeelding .field--name-field-link a:focus, input[type="submit"]:focus,
button:focus,
.button:focus {
  background-color: #5e2361;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  border: none;
}

/* line 63, ../scss/forms/_form-components.scss */
select {
  -webkit-appearance: none;
  appearance: none;
  margin-bottom: 1rem;
  border-radius: 2px;
  border: 1px solid #cacbcb;
  box-shadow: inset 0 0 15px rgba(96, 96, 96, 0.15);
  padding: calc(1rem - 1px) 2.5rem;
  padding-left: 1.5rem;
  font-size: 1.125rem;
  font-family: "Roboto Condensed", sans-serif;
  background-color: white;
  background-image: url(../img/arrow-down.svg);
  background-position: right 1rem center;
  background-repeat: no-repeat;
  background-size: .75rem;
  color: #a73eac;
}
/* line 81, ../scss/forms/_form-components.scss */
select:focus {
  outline: none;
  border: 1px solid #a73eac;
  box-shadow: 0 0 5px rgba(167, 62, 172, 0.4);
}

/* line 1, ../scss/forms/_form-elements.scss */
.form-item {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 1.25rem 0;
}
/* line 7, ../scss/forms/_form-elements.scss */
.form-item label {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  margin-bottom: 0.25rem;
  font-size: 1rem;
}
/* line 14, ../scss/forms/_form-elements.scss */
.form-item .description {
  font-size: 1rem;
  font-weight: 300;
}
/* line 19, ../scss/forms/_form-elements.scss */
.form-item.form-type-checkbox {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}
/* line 24, ../scss/forms/_form-elements.scss */
.form-item.form-type-checkbox input {
  margin-right: 0.5rem;
}
/* line 28, ../scss/forms/_form-elements.scss */
.form-item.form-type-checkbox .description {
  width: 100%;
  margin-left: 0;
}

/* line 35, ../scss/forms/_form-elements.scss */
.form-actions {
  margin: 0 0 1.25rem;
  text-align: center;
}

/* line 2, ../scss/forms/_form-user-password.scss */
form.user-pass .form-item {
  margin-bottom: 0;
}
/* line 6, ../scss/forms/_form-user-password.scss */
form.user-pass p {
  font-size: 1rem;
  margin-bottom: 1.25rem;
}

/* line 3, ../scss/forms/_form-user-register.scss */
.user-register-form fieldset {
  border: none;
  margin-bottom: 0;
}
/* line 7, ../scss/forms/_form-user-register.scss */
.user-register-form fieldset legend {
  font-family: "Zeyada";
  font-size: 2rem;
  color: #702a74;
  margin-bottom: 1.25rem;
}
@media (min-width: 768px) {
  /* line 14, ../scss/forms/_form-user-register.scss */
  .user-register-form fieldset .fieldset-wrapper {
    display: flex;
    margin: 0 -0.5rem;
  }
  /* line 19, ../scss/forms/_form-user-register.scss */
  .user-register-form fieldset .fieldset-wrapper > div {
    padding: 0 0.5rem;
    width: 50%;
  }
}
@media (min-width: 768px) {
  /* line 27, ../scss/forms/_form-user-register.scss */
  .user-register-form .form-type-password-confirm {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -0.5rem 1.25rem;
  }
  /* line 33, ../scss/forms/_form-user-register.scss */
  .user-register-form .form-type-password-confirm .form-item {
    padding: 0 0.5rem;
    width: 50%;
  }
  /* line 38, ../scss/forms/_form-user-register.scss */
  .user-register-form .form-type-password-confirm .password-suggestions {
    padding: 0 1rem;
    width: 50%;
    border: none;
    max-width: none;
    margin: 0;
  }
  /* line 46, ../scss/forms/_form-user-register.scss */
  .user-register-form .form-type-password-confirm .description {
    width: 50%;
    padding: 0 0.5rem;
  }
}
/* line 53, ../scss/forms/_form-user-register.scss */
.user-register-form .form-type-password-confirm .form-item input {
  width: 100%;
  margin-bottom: 0;
}
/* line 59, ../scss/forms/_form-user-register.scss */
.user-register-form .form-type-password-confirm .password-strength,
.user-register-form .form-type-password-confirm div.password-confirm {
  width: 100%;
  font-size: 1rem;
}
/* line 65, ../scss/forms/_form-user-register.scss */
.user-register-form .form-type-password-confirm div.password-confirm {
  margin: 0;
  padding-top: 1rem;
}
/* line 70, ../scss/forms/_form-user-register.scss */
.user-register-form .form-type-password-confirm .password-strength__meter {
  margin: 0 0 0.5rem;
  height: 0.5rem;
  border-radius: 0 0 2px 2px;
}
/* line 77, ../scss/forms/_form-user-register.scss */
.user-register-form .edit-timezone {
  display: none;
}

/* line 1, ../scss/admin/_admin.scss */
.node-form fieldset.form-item {
  padding: 1rem;
  margin-bottom: 1.5rem;
}
/* line 5, ../scss/admin/_admin.scss */
.node-form fieldset.form-item legend {
  font-weight: 600;
  padding: 1rem 1rem 1rem 0;
}
