ul.tabs {
    margin: 0 0 $margin;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;

    @include breakpoint($breakpoint-small) {
        flex-direction: row;
    }

    li {
        margin: 0 0 $spacing-half 0;

        @include breakpoint($breakpoint-small) {
            margin-right: $spacing-half;
        }

        a {
            background: $white;
            padding: $spacing-half;
            display: block;
            border: 1px solid $tin;
            border-radius: 4px;
            font-size: 1rem;
            white-space: nowrap;
            color: $link-color;

            &:hover {
                background: $porcelain;
            }
        }

        &.is-active a {
            color: $link-color;
            background: $porcelain;
        }
    }
}