.polaroid-image {
  margin: 0 auto;
  background: $white;
  border: $spacing solid $white;
  border-bottom: $spacing-half solid $white;
  transform: rotate(-1.5deg);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

  .title {
    padding-top: $spacing-half;
    color: $delft;
    font-family: $font-family-header;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    transform: rotate(-1deg);
  }
}