.region-header {
  height: 100%;
}


body.above-empty .region-header {
  height: 160px;
  background: $very-lilac;

  @include breakpoint($breakpoint-medium) {
    height: 320px;
  }
}

.toggle-button {
  a {
    height: $spacing * 4;
    width: $spacing * 4;
    color: $menu-link-color;
    position: absolute;
    top: 0;
    z-index: 9;
    border: none;
    display: block;
    text-align: center;
    font-size: 1.25rem;
    line-height: 3;
    cursor: pointer;

    &:hover {
      background: rgba(darken($accent-color, 30%), 0.8);
    }
  }

  @include breakpoint($breakpoint-medium) {
    display: none;
  }

  &.menu-toggler a {
    left: 0;
  }

  &.search-toggler a {
    display: none;
  }
}