.page-container {
  max-width: $breakpoint-max;
  margin: 0 auto;
  padding: 0 $spacing-double;
}

body.above-empty .page-container {
  padding-top: $spacing-double;
}

.path-user {
  .page-container {
    max-width: $breakpoint-large;
  }
}