.node--type-experience.node--view-mode-full {
  display: flex;
  flex-direction: column;

  @include breakpoint($breakpoint-medium) {
    flex-direction: row;
  }

  .field--type-image {
    margin-bottom: 1.5 * $spacing;
    padding: 0 $spacing;

    @include breakpoint($breakpoint-medium) {
      width: 33.333%;
    }
  }

  .experience-content {
    @include breakpoint($breakpoint-medium) {
      width: 66.666%;
      padding-left: $spacing-double;
    }

    .field--name-field-person {
      text-align: right;
      margin-top: $spacing;
      font-size: 1rem;
      font-style: italic;
    }
  }
}