.node--type-cursus.node--view-mode-full {
  margin-bottom: $spacing-double;

  @include breakpoint($breakpoint-medium) {
    display: flex;
    flex-wrap: nowrap;
  }

  .field--name-field-image {
    margin-bottom: $spacing * 1.5;

    @include breakpoint($breakpoint-medium) {
      max-width: 25%;
    }
  }

  .field--name-field-time {
    padding-top: $spacing;
  }

  .course-content {
    @include breakpoint($breakpoint-medium) {
      max-width: 75%;
      padding-left: $spacing-double;
    }
  }
}