.page-content {
    padding-top: 4 * $spacing;

    @include breakpoint($breakpoint-medium) {
        padding-top: 7 * $spacing;
    }
}

.page-header {
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($accent-color, 0.95);
    color: $menu-link-color;
    box-shadow: 0 0 30px rgba($black, 0.4);
    width: 100%;
    height: $spacing * 4;

    @include breakpoint($breakpoint-medium) {
        height: unset;
    }
}

body.adminimal-admin-toolbar .page-header {
    top: 40px;
}

body.toolbar-tray-open .page-header {
    top: 81px;
}