.block-system-branding-block {
    .site-name {
        text-align: center;
        padding-top: $spacing;

        a {
            color: $menu-link-color;
            font-size: 1.666rem;
            line-height: 1;
            font-family: $font-family-header;
        }
    }
}