.block-page-title-block {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: $breakpoint-large;
  left: 50%;
  transform: translateX(-50%);

  h1 {
    color: $white;
    text-align: center;
    text-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
    margin-bottom: 0;
    font-size: 2.5rem;
    padding: 0 $spacing $spacing;

    @include breakpoint($breakpoint-medium) {
      font-size: 3rem;
      padding: 0 $spacing-double;
    }

    @include breakpoint($breakpoint-large) {
      padding-bottom: 3 * $spacing;
      font-size: 4rem;
    }
  }
}