.block-system-branding-block {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  padding-top: $spacing;

  .site-name {
    text-align: center;
    padding-top: $spacing;
    display: none;

    @include breakpoint($breakpoint-medium) {
      display: block;
    }

    a {
      color: $menu-link-color;
      font-size: 3rem;
      line-height: 1;
      font-family: $font-family-header;
    }
  }

  .site-logo img {
    margin: 0 auto;
    max-width: 40px;

    @include breakpoint($breakpoint-medium) {
      display: block;
      max-width: unset;
    }
  }
}