.paragraph--type--tekst-afbeelding {
  padding: $spacing-double 0;

  &.paragraph-embossed {
    background: #eee;
    box-shadow: 0 0 20px inset rgba(0, 0, 0, 0.35);
    transform: translateX(-50vw);
    width: 100vw;
    margin-left: 50%;
    padding: $spacing-double;
  }

  &.paragraph-image-align-none {
    text-align: center;

    .paragraph-inner {
      .paragraph-content {
        margin: 0 auto;
        width: 100%;
        max-width: $breakpoint-medium;
        padding: 0;
      }
    }
  }

  .paragraph-inner {
    max-width: calc(1280px - 4rem);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;


    h2 {
      text-align: center;
      width: 100%;
    }

    .field--name-field-image {
      margin-bottom: $spacing-double;
      text-align: center;
      width: 100%;

      @include breakpoint($breakpoint-medium) {
        width: 33.333%;
        flex: 1 1 auto;
      }
    }

    .paragraph-content {
      @include breakpoint($breakpoint-medium) {
        width: 66.666%;
        padding-left: $spacing-double;
      }
    }
  }

  .field--name-field-link {
    text-align: center;

    a {
      @extend %button-base;
      display: inline-block;
      margin-top: $spacing * 1.5;
    }
  }

  &.paragraph-image-align-right {
    @include breakpoint($breakpoint-medium) {
      .paragraph-inner {
        h2 {
          order: 1;
        }

        .paragraph-content {
          order: 2;

          @include breakpoint($breakpoint-medium) {
            padding: 0 $spacing-double 0 0;
          }
        }

        .field--name-field-image {
          order: 3;
          margin-top: $spacing * 1.5;

          @include breakpoint($breakpoint-medium) {
            margin: 0 0 $spacing * 1.5 0;
          }

          .polaroid-image {
            transform: rotate(1.5deg);
          }
        }
      }
    }
  }
}