.paragraph--type-experiences {
  background: $very-lilac;
  padding: $spacing-double;
  transform: translateX(-50vw);
  width: 100vw;
  margin-left: 50%;

  @include breakpoint($breakpoint-medium) {
    padding: $spacing-double;
  }

  h2 {
    text-align: center;
  }

  .view {
    max-width: $breakpoint-max;
    margin: 0 auto;
  }

  .slick-dots {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin: $spacing-double (-$spacing-half / 2);

    li button {
      border: 4px solid $lilac;
      border-radius: 50%;
      height: 2rem;
      width: 2rem;
      margin: 0 $spacing-half / 2;
      text-indent: -9999px;
      background: none;
      padding: 0;

      &:hover {
        background: rgba($lilac, 0.5);
      }
    }

    li.slick-active button {
      background: rgba($lilac, 0.8);
    }
  }
}