.form-item {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 0 $margin 0;

    label {
        font-family: $font-family-forms;
        font-weight: 700;
        margin-bottom: $spacing / 4;
        font-size: 1rem;
    }

    .description {
        font-size: 1rem;
        font-weight: 300;
    }

    &.form-type-checkbox {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;

        input {
            margin-right: $spacing-half;
        }

        .description {
            width: 100%;
            margin-left: 0;
        }
    }
}

.form-actions {
    margin: 0 0 $margin;
    text-align: center;
}