.page-container {
    max-width: $breakpoint-max;
    margin: 0 auto;
    padding: $spacing;

    @include breakpoint($breakpoint-medium) {
        padding: $spacing $spacing-double;
    }
}

.path-user {
    .page-container {
        max-width: $breakpoint-large;
    }
}