.region-header {
    height: 100%;
}

.toggle-button {
    a {
        height: $spacing * 4;
        width: $spacing * 4;
        color: $menu-link-color;
        position: absolute;
        top: 0;
        z-index: 9;
        border: none;
        display: block;
        text-align: center;
        font-size: 1.25rem;
        line-height: 3;
        cursor: pointer;

        &:hover {
            background: rgba(darken($accent-color, 30%), 0.8);
        }
    }

    @include breakpoint($breakpoint-medium) {
        display: none;
    }

    &.menu-toggler a {
        left: 0;
    }

    &.search-toggler a {
        right: 0;
    }
}